p{
	font-size: 16px;
	font-family: Baskerville, "Baskerville Bold", "Baskerville Bold Italic", "Baskerville Italic", "Baskerville Old Face", "Baskerville SemiBold", "Baskerville SemiBold Italic";
	margin-top: 10px;

	
}

body{ 

	margin-left: 50;

}

.sketchfab-embed-wrapper{
  margin-left: auto;
  margin-right: auto;
}